body{
    background-image: url(img/fundo-de-jogo-de-noite-dos-desenhos-animados_54887-12.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}
