body{
    background-image: url(img/The_Legend_of_Zelda_Mountains_Warriors_Scenery_516269_1280x921.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}

.borda{

    float: left;
    outline: rgb(255, 208, 0) 5px solid;
    margin: 30px;
    

    


}